@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');
body
    {
        background: rgb(37, 36, 36);
    }
.clock 
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border: 10px solid #ccc;
        padding: 0px 40px 0px 40px;
        color: rgb(233, 233, 233);
        width: 350px;
        border-radius: 30px;
        box-shadow: 3px 3px 9px rgb(11, 168, 103), -3px -3px 9px rgb(168, 164, 164);
    }
#TimeDisplay 
    {
        font-family: 'Orbitron', sans-serif;
        font-size: 40px;
        text-align: center;
        padding-bottom: 20px;
    }
#DateDayDisplay 
    {
        font-family: 'Work Sans', sans-serif;
        font-size: 20px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
        